.navbar{
    .btn-link{
        color: $text-muted;
        text-decoration: none;
    }
}

.btn-white{
    background-color: white;
}

.item-count{
    width: 50px;
}
#show-cart li{
    font-weight: bold;
    list-style-type: none;
    margin-right:10px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}